@{
    ViewData["Title"] = "No Authorization";
}

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Access Denied</h2>
                <p>You do not have permission to view this page.</p>
                <a href="/Home" class="btn btn-primary">Return to Home</a>
            </div>
        </div>
    </div>
</section>